.header {
    height: var(--header-height);
    background-image: linear-gradient(-180deg,#f53d2d,#f63);
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
    align-items: center;
}

.navbar-list {
    padding-left: 0;
    margin: 10px 0 0;
    display: flex;
    align-items: center;
}

.navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.navbar-item-link p {
    margin-left: 4px;
}

.navbar-user {
    display: flex;
    justify-items: center;
    position: relative;
}

.navbar-user:hover .navbar-user-menu {
    display: block;
}

.navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.navbar-user-menu {
    padding-left: 0;
    width: 160px;
    top: calc(100% + 12px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth linear 0.2s;
    will-change: opacity, transform;
}

.navbar-user-menu::before {
    content: "";
    border-style: solid;
    border-width: 12px 12px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 23%;
    top: -23px;
}

.navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -18px;
    right: 0;
    width: 70%;
    height: 19px;
}

.navbar-user-item:last-child {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px 16px;
    display: block;
}

.navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header .navbar-item--strong {
    font-weight: 500;
}

.navbar-item,
.navbar-item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.navbar-item,
.navbar-item-link,
.navbar-icon-link {
    display: flex;
    align-items: center;
}

.navbar-item:hover,
.navbar-icon-link:hover,
.navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.navbar-icon-link:nth-child(2) {
    margin-left: 3px;
}

.navbar .navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    height: 16px;
    border-left: 1px solid #FB9086;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
    margin: 0 4px;
}

.navbar-icon {
    font-size: 18px;
}

.navbar-title--no-poiter {
    cursor: text;
    color: var(--white-color);
}

/* Header QR Code */
.qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: calc(100% + 12px);
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.qr::before {
    content: "";
    position: absolute;
    width: 100%;
    display: block;
    height: 12px;
    left: 0;
    top: -12px;
}

.navbar-item--qr:hover .qr {
    display: block;
}

.qr-img {
    width: 100%;
}

.qr-dowload-app {
    display: flex;
    margin: 0 10px;
    justify-content: space-between;
}

.download-app-img {
    height: 16px;
}

/* Header Notification */
.notify {
    position: absolute;
    z-index: 1;
    border-radius: 2px;
    width: 440px;
    top: calc(100% + 12px);
    right: 0;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    display: none;
    will-change: opacity, transform;
    animation: headerNotifyGrowth ease-in 0.2s;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    } to {
        opacity: 1;
        transform: scale(1);
    }
}

.notify::before {
    content: "";
    border-style: solid;
    border-width: 20px 26px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 12px;
    top: -36px;
}

.notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
}

.navbar-item-notify:hover .notify {
    display: block;
}

.notify-header {
    background-color: var(--white-color);
}

.notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}

.notify-list {
    padding: 0;
    max-height: 60vh;
    overflow-y: auto;
}

.notify-item--viewed {
    background-color: rgba(238, 77, 45, 0.08);
}

.notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
    width: 100%;
}

.notify-img {
    width: 48px;
    object-fit: contain;
}

.notify-info {
    margin-left: 12px;
}

.notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.notify-desc {
    margin-top: 4px;
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
    line-height: 1.6rem;
}

.notify-footer {
    display: flex;
}

.notify-footer-btn {
    width: 100%;
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 0;
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

/* Authen Modal */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-from__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin: 80px 0 12px 0;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.authen-form__socials {
    background-color: #f5f5f5;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
}

.authen-form__socials-icon {
    font-size: 1.8rem;
}

.authen-form__socials--facebook {
    background-color: #3A5A98 !important;
    color: var(--white-color) !important;
}

.authen-form__socials--facebook 
.authen-form__socials-icon {
    color: var(--white-color);
}

.authen-form__socials-title {
    margin: 0 36px;
}

.authen-form__socials--google {
    color: var(--text-color);
}

.authen-form__socials--google 
.authen-form__socials-icon {
    color: #666;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__help-link-serapate {
    display: block;
    height: 22px;
    border-left: 1px solid #eaeaea;
    margin: 0 16px;
}

.auth-form__help-link-forgot {
    color: var(--primary-color);
}


/* Header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    text-decoration: none;
    color: transparent;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    display: flex;
    height: 40px;
    flex: 1;
    background-color: var(--white-color);
    border-radius: 2px;
    align-items: center;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    padding: 12px;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-notice {
    top: 5px;
    right: -5px;
    position: absolute;
    padding: 1px 7px;
    background-color: #FDFDFD;
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #ee4d2d;
}

.header__cart-list {
    cursor: default;
    width: 400px;
    position: absolute;
    top: calc(100% - 3px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
    z-index: 1;
}

.header__cart-list::before {
    cursor: pointer;
    content: "";
    position: absolute;
    right: 3px;
    top: -25px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list--no-cart-message {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header__cart-list--no-cart {
    padding: 24px 0;
    cursor: default;
}

.header__cart-no-cart-img {
    width: 54%;
    display: none;
}

.header__cart-list--no-cart-message {
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 1.4rem;
    outline: none;
    color: var(--text-color);
    border-radius: 2px;
    padding: 0 16px;
}

.search-select {
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.search-select-icon {
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    border-radius: 2px;
    margin-right: 3px;
    width: 60px;
    outline: none;
}

.search-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
}

.search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.search-select:hover .search-option {
    display: block;
}

.search-option {
    position: absolute;
    right: 0;
    top: calc(100% + 3px);
    width: 130px;
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.1s;
    z-index: 1;
}

.search-option::before {
    content: "";
    display: block;
    width: 100%;
    height: 13px;
    position: absolute;
    left: 0;
    top: -12px;
}

.search-option-item {
    background-color: var(--white-color);
    padding: 8px;
}

.search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}


.search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.search-option-item--active i {
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

/* Search History */
.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 0 5px #b6b6b6;
    overflow: hidden;
    display: none;
    z-index: 1;
}

.header__search-history-heading {
    margin: 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    margin: 8px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

/* Cart Item */
.header__cart-heading {
    text-align: left;
    margin: 16px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item {
    padding-left: 0;
    max-height: 50vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid var(--border-color);
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 450;
    color: var(--text-color);
    margin: 0;
    line-height: 2rem;
    max-height: 2rem;
    flex: 1;
    overflow: hidden;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-align: left;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: 0.9rem;
    color: #757575;
    margin: 0 4px;
}

.header__cart-item-quantity {
    color: #757575;
    font-size: 1.2rem;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between; 
    align-items: center;   
}

.header__cart-item-desc {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px;
    text-align: right;
    flex: 1;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}

.pagination-item--active .pagination-item__link:hover,
.btn.btn--primary.header__cart-view-cart:hover {
    background-color: #F05D41;
}

/* App Container */
.app__content {
    padding-top: 36px;
}

.app__container {
    background-color: #f5f5f5;
}

.category {
        background-color: var(--white-color);
        border-radius: 2px;
}

.category-item {
    position: relative;
    padding: 8px 0;
}

.category-item:first-child::after {
    display: none;
}

.category-item::after {
    content: "";
    position: absolute;
    border-top: 1px solid #E1E1E1;
    top: 0;
    left: 20px;
    right: 20px;
}

.category__heading {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
    padding: 24px 16px 0;
    margin-top: 0;
    text-transform: uppercase;
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: 0;
}

.category-list {
    padding: 0 0 8px 0;
    margin-left: 8px;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    content: "";
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    top: 50%;
    left: 8px;
    transform: translateY(calc(-50% - 1px));
}

.category-item__link {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 4px 20px;
    right: 0;
    position: relative;
    transition: right linear 0.1s;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}

/* Hom sort + filter */
.home-filter {
    background-color: rgba(0, 0, 0, 0.03);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__label {
    color: #555;
    font-size: 1.4rem;
    margin-right: 16px;
}

.home-filter__btn {
    margin-right: 12px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-num-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    display: flex;
    flex: 1;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

.home-filter__page-btn--disable {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disable .home-filter__page-icon {
    color: #ccc;
}

/* Product Item */
.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    text-decoration: none;
    cursor: pointer;
    display: block;
    background-color: var(--white-color);
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: top linear 0.1s;
    top: 0;
}

.home-product-item:hover {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    top: -1px;
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0;
}

.home-product-item__like {
    font-size: 1.3rem;
}

i.home-product-item__like-icon-fill {
    display: none;
    color: #F63D30;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    font-size: 0.8rem;
    color: var(--star-gold-color);
    margin-left: auto;
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: rgba(0,0,0,.65);
    font-size: 1.2rem;
    font-weight: 300;
}

.home-product-item__brand {

}

.home-product-item__origin-name {

}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    padding-right: 4px;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--primary-color);
    background-color: currentColor;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__favourite i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}

.home-product-item__sale-off {
    position: absolute;
    width: 40px;
    height: 36px;
    text-align: center;
    top: 0;
    right: 0;
    color: rgba(255, 216, 64, 0.94);
    background-color: currentColor;
    border-top-right-radius: 2px;
}

.home-product-item__sale-off::after {
    position: absolute;
    left: 0;
    bottom: -4px;
    content: "";
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent currentColor transparent currentColor;
}

.home-product-item__sale-off-percent {
    color: #EE4D2D;
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-weight: 600;
    position: relative;
    top: 4px;
}

.home-product-item__sale-off-label {
    color: var(--white-color);
    font-size: 1.3rem;
    line-height: 1.3rem;
    position: relative;
    top: 4px;
    font-weight: 700;
}

.home-product__pagination {
    margin: 40px 0 30px 0;
}

/* Footer */
.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 20px;
    background-color: var(--white-color);
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: rgba(0 ,0 , 0, 0.54);
}

.footer__list {
    padding: 0;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.54);
    padding: 4px 0;
    display: flex;
    align-items: center;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__icon {
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}

.footer__download {
    display: flex;
}

.footer__download--qr-code {
    width: 86px;
    height: 86px;
    border: 1px solid var(--border-color);
}

.footer__download-apps {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-apps-link {
    text-decoration: none;
    color: transparent;
}

.footer__download-app-img {
    height: 20px;
}

.footet-bottom {
    background-color: #f5f5f5;
    padding: 16px 0;
    color: rgba(0, 0, 0, 0.65);
    margin-top: 36px;
}

.footer__text {
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
}